.first{
    margin-top: 60px;margin-bottom: 60px;
    margin-left: 60px;margin-right: 60;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    font-family: 'Kablammo', cursive;
    border: 1px solid green;
    
    padding-right: 60p}

    .second{
       
            margin-top: 60px;margin-bottom: 60px;
            margin-left: 60px;margin-right: 60;
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 60px;
            font-family: 'Kablammo', cursive;
            border: 1px solid green;
            padding-right: 60p
        }
           
    

            img{
                border-radius:50%; 
                width:300px;}
        
    .third{
           margin-top: 60px;margin-bottom: 60px;
            margin-left: 60px;margin-right: 60;
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 60px;
            font-family: 'Kablammo', cursive;
            border: 1px solid green;
           padding-right: 60p}

    .four{ 
        margin-top: 60px;margin-bottom: 60px;
            margin-left: 60px;margin-right: 60;
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 60px;
            font-family: 'Kablammo', cursive;
            border: 1px solid green;
            padding-right: 60p}

    .five{
        margin-top: 60px;margin-bottom: 60px;
            margin-left: 60px;margin-right: 60;
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 60px;
            font-family: 'Kablammo', cursive;
            border: 1px solid green;
            padding-right: 60p}

